name: test

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build assets
    steps:
      - uses: actions/checkout@v4
      - name: Cache pnpm modules
        uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-
      - uses: pnpm/action-setup@v2.4.0
        with:
          version: latest
          run_install: true
      - name: Use Node.js 16.x
        uses: actions/setup-node@v4.0.1
        with:
          node-version: 16.x
          cache: "pnpm"
      - name: Package the extension for Chrome
        run: pnpm build --zip
      - name: Package the extension for Firefox
        run: pnpm build:firefox --zip
